/*variables*/
/*imports*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: black;
  font-family: sans-serif; }

/*content*/
#maincontent {
  position: absolute;
  margin: 20px 20px 20px 0px;
  left: 150px;
  width: 600px; }
  #maincontent #header {
    height: 100px;
    background-color: #af6c38; }
    #maincontent #header h1 {
      text-align: center;
      padding: 20px 10px 0px 10px;
      font-size: 350%; }
  #maincontent #content {
    background-color: #fff6e3; }
    #maincontent #content p {
      text-align: justify;
      padding: 10px 15px 12px 15px;
      line-height: 1.3em; }
  #maincontent #footer {
    height: 40px;
    background-color: #ff5500; }
    #maincontent #footer p {
      text-align: center; }
  #maincontent p.e_message {
    background-color: white;
    padding: 2px 8px;
    text-align: justify;
    line-height: 1.3em; }

#endorsement {
  background-color: white;
  border: 3px solid black;
  margin: 20px auto 20px auto;
  font-weight: bold;
  width: 350px; }

#cigdiv {
  margin-top: 20px;
  float: left;
  width: 120px;
  position: fixed;
  left: 10px;
  top: 0px; }

#cigwrapper {
  margin: 0 auto;
  width: 70px; }

#butt {
  height: 175px;
  background-color: #fa9a50;
  overflow: hidden; }
  #butt #butttexture {
    height: 175px;
    background-image: url("../img/butt.jpg");
    opacity: 0.3; }

#cig {
  height: 481.25px;
  background-color: #fff6e3;
  overflow: hidden; }
  #cig #cigtexture {
    height: 481.25px;
    background-image: url("../img/paper.jpg");
    opacity: 0.3; }

#cherry {
  height: 43.75px;
  background-color: #ff3000;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  overflow: hidden; }
  #cherry #cherrytexture {
    height: 43.75px;
    background-image: url("../img/ash.jpg");
    opacity: 0.3; }

.doctorimg {
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
  height: 200px;
  width: 200px; }

.nurseimg {
  position: relative;
  bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
  height: 200px;
  width: 200px; }

@media all and (min-width: 1000px) {
  #maincontent {
    width: 900px; } }
