/*variables*/

$black: #000000;
$white: #ffffff;
$butt_color: #FA9A50;
$cig_color: #FFF6E3;
$cherry_color: #FF3000;

$cig_height: 700px;

$cig_width: $cig_height / 10;
$cig_height_mod: $cig_height / 8;

$texture_opacity: .3;

/*imports*/
@import 'reset.scss';

body {
	background-color: $black;
	font-family: sans-serif;
}

/*content*/

#maincontent {
	position: absolute;
	margin: 20px 0px;
	left: 150px;
	background-color: $white;
	width: 900px;

	#header {
		height: 200px;
		background-color: $butt_color;

		h1 {
			padding: 10px 10px;
			font-size: 300%;
		}

	}

	#content {
		min-height: 500px;
		background-color: $cig_color;

		p {
			text-align: justify;
			padding: 10px 15px;
			line-height: 1.3em;
		}

		p.e_message {
			padding: 2px 8px;
			text-align: justify;
			line-height: 1.3em;
		}

	}

}

#endorsement {

	border: 3px solid $black;
	float: right;
	margin: 10px 15px;
	font-weight: bold;
	width: 350px;

}

#cigdiv {
	margin-top: 20px;
	float: left;
	width: 120px;
	position: fixed;
	left: 10px;
	top: 0px;	
}


#cigwrapper {
	margin: 0 auto;
	width: $cig_width;
}

#butt {
	height: ($cig_height_mod * 2);
	background-color: $butt_color;
	overflow: hidden;

	#butttexture {
		height: ($cig_height_mod * 2);
		background-image:url("../img/butt.jpg");
		opacity: $texture_opacity;
	}
}

#cig {
	height: (($cig_height / 8)*6) - ($cig_height_mod / 2);
	background-color: $cig_color;
	overflow: hidden;

	#cigtexture {
		height: (($cig_height / 8)*6) - ($cig_height_mod / 2);
		background-image:url("../img/paper.jpg");
		opacity: $texture_opacity;
	}
}

#cherry {
	height: ($cig_height / 8) / 2;
	background-color: $cherry_color;
	border-bottom-right-radius: 150px;
	border-bottom-left-radius: 150px;
	overflow: hidden;

	#cherrytexture {
		height: ($cig_height / 8) / 2;
		background-image:url("../img/ash.jpg");
		opacity: $texture_opacity;
	}
}



