/*variables*/
/*imports*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: black;
  font-family: sans-serif; }

/*content*/
#maincontent {
  position: absolute;
  margin: 20px 20px 20px 0px;
  left: 150px;
  width: 600px; }
  #maincontent #header {
    height: 100px;
    background-color: #af6c38;
    border-bottom: 5px solid #7f6b00; }
    #maincontent #header h1 {
      text-align: center;
      padding: 20px 10px 0px 10px;
      font-size: 350%; }
  #maincontent #content {
    background-color: #fff6e3;
    position: relative; }
    #maincontent #content p {
      text-align: justify;
      padding: 10px 15px 12px 15px;
      line-height: 1.4em; }
  #maincontent #footer {
    clear: both;
    height: 40px;
    background-color: #ff5500; }
    #maincontent #footer p {
      text-align: center;
      font-weight: bold; }
  #maincontent p.e_message {
    background-color: white;
    padding: 2px 8px;
    text-align: justify;
    line-height: 1.3em; }

#endorsement {
  border: 3px solid black;
  margin: 20px auto 20px auto;
  font-weight: bold;
  width: 350px; }

#ad {
  margin-left: 146px; }
  #ad img {
    height: 300px;
    width: 300px;
    margin: 20px auto;
    border: 2px solid #7f6b00;
    box-shadow: 2px 2px 2px #7f6b00; }

#cigdiv {
  margin-top: 20px;
  float: left;
  width: 120px;
  position: fixed;
  left: 10px;
  top: 0px; }

#cigwrapper {
  margin: 0 auto;
  width: 70px; }

#butt {
  position: relative;
  height: 175px;
  background-color: #fa9a50; }
  #butt #butttexture {
    height: 175px;
    background-image: url("../img/butt.jpg");
    opacity: 0.3; }
  #butt .cigname {
    position: absolute;
    font-size: 130%;
    font-weight: bold;
    top: 140px;
    left: 16px; }
  #butt .cigband {
    position: absolute;
    top: 156px;
    height: 5px;
    width: 70px;
    color: #7f6b00;
    background-color: #7f6b00;
    border: none; }

#cig {
  height: 481.25px;
  background-color: #fff6e3; }
  #cig #cigtexture {
    height: 481.25px;
    background-image: url("../img/paper.jpg");
    opacity: 0.3; }

#cherry {
  height: 43.75px;
  background-color: #ff3000;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  overflow: hidden; }
  #cherry #cherrytexture {
    height: 43.75px;
    background-image: url("../img/ash.jpg");
    opacity: 0.3; }

.doctorimg {
  margin-top: 8px;
  margin-left: 20px;
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid #7f6b00;
  box-shadow: 2px 2px 2px black; }

.nurseimg {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid #7f6b00;
  box-shadow: 2px 2px 2px black; }

@media all and (min-width: 1050px) {
  #maincontent {
    width: 900px; }

  .doctorimg {
    width: 250px;
    height: 250px; }

  .nurseimg {
    width: 250px;
    height: 250px; }

  #ad {
    margin-left: 296px; } }
@media all and (max-width: 750px) {
  #maincontent {
    width: 400px;
    left: 100px; }
    #maincontent #header {
      height: 60px; }
      #maincontent #header h1 {
        font-size: 200%; }
    #maincontent #content p {
      line-height: 1.2em;
      clear: both; }

  .doctorimg {
    clear: both;
    width: 370px;
    height: 370px;
    margin-bottom: 20px; }

  .nurseimg {
    clear: both;
    width: 370px;
    height: 370px; }

  #endorsement {
    margin: 10px auto 10px auto;
    width: 292px;
    font-size: 90%; }

  #cigdiv {
    margin-top: 20px;
    float: left;
    width: 80px;
    position: fixed;
    left: 10px;
    top: 0px; }

  #cigwrapper {
    width: 46.66667px; }

  #butt {
    height: 131.25px; }
    #butt #butttexture {
      height: 131.25px; }
    #butt .cigname {
      font-size: 100%;
      top: 100px;
      left: 7px; }
    #butt .cigband {
      top: 110px;
      height: 4px;
      width: 46.66667px; }

  #cig {
    height: 350px; }
    #cig #cigtexture {
      height: 350px; }

  #cherry {
    height: 32.40741px; }
    #cherry #cherrytexture {
      height: 32.40741px; }

  #ad {
    margin-left: 50px; } }
